html, body {
    margin: 0;
    color: #333;
}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    color: #333;
}

a:hover {
    color: #333;
    font-weight: bold;
    text-decoration: unset;
}



.sidebar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}